@layer reset, base, tokens, recipes, utilities;

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #1f1f40;
  }
  100% {
    background-color: #2f2e5f;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2f2e5f;
  color: #fdfdfd;
  padding: none;
  margin: none;
  overscroll-behavior: none;

  font-family: "__Nunito_Sans_7e1333";
  /* __Roboto_Mono_b2aa37 */
  /* "'__Roboto_Mono_e3ecbd', '__Roboto_Mono_Fallback_e3ecbd'" */
  /* __Nunito_14f33d */
  /* __Raleway_88131f */
  /* __Nunito_Sans_7e1333 */
}
